/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/



.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  
  

  background-image: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px);
   /* Размеры градиента: автоматическая ширина, 100% высота */

  /* Второй градиент: полоски сверху вниз */
  background-image: repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px);
  /* Размеры градиента: 100% ширина, автоматическая высота */
  /* background-size: 100% auto; */
  /* Третий градиент: равномерный переход цветов сверху вниз */
  /* background-image: linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%); */
  /* Фоновый цвет */
  /* background-color: #1a1a1a; */
  
}


