/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */


:root {


    --color-background-card: #fff;

    /* Зеленый в темной */
    --accent-color: #000;
    --color-background: #d3d3d3;

    /* цвет активного сердца */
    /* --heart-color-active: #FF0000; */
    --heart-color-active: #FF0000;

    /* шрифты */
    --content-font: 'Inter-Variable', sans-serif;
    --huge-title-font: 'PressStart2P-Regular', sans-serif;
    /* изменить */
    --heart-fill: #FF0000;
    --heart-contour: #000;
  }